{layout '../layouts/default.latte'}

{block header}
	<p class="title">{$info->detail->title}</p>
	<p class="subtitle">{$info->detail->desc}</p>
	<p>Videos: {number($info->stats->videoCount)}</p>
{/block}

{block content}
	{include '../components/feed.latte'}
{/block}
