<!DOCTYPE html>
<html lang="en">

{include '../components/head.latte'}

<body>
	<section class="hero is-fullheight">
		<div class="hero-head">
			{include '../components/navbar.latte'}
		</div>
		<div class="hero-body">
			<div class="container">
				{block content}{/block}
			</div>
    </div>
	</section>
	{block extra}{/block}
</body>

</html>
