<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>About - TikTok</title>
  <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/superhero/bulmaswatch.min.css">
</head>
<body>
	{include 'navbar.latte'}
  <section class="hero is-primary">
		<div class="hero-body">
			<div class="container">
				<p class="title">About</p>
      </div>
    </div>
  </section>
  <section class="section">
		<p>TODO</p>
  </section>
  {include 'footer.latte'}
</body>
</html>
