{layout '../layouts/default.latte'}

{block header}
	<p class="title">Following</p>
{/block}

{block content}
	<p>{include '../components/following_tags.latte'}</p>
	{include '../components/feed.latte'}
{/block}
