{layout '../layouts/default.latte'}

{block header}
	<p class="title">Following</p>
{/block}

{block content}
	<p class="title">Following:</p>
	{include '../components/following_tags.latte'}
	<p>You can add/remove follows on settings</p>
	<hr />
	{include '../components/feed.latte'}
{/block}
