<!DOCTYPE html>
<html lang="en">

{include 'components/head.latte', title: 'Home'}

<body>
	{include 'components/navbar.latte'}
	<section class="hero is-fullheight-with-navbar">
		<div class="hero-body">
			<div class="container has-text-centered">
				<p class="title">Welcome to TikTok Alt-Frontend!</p>
				<p>Search user:</p>
				<form id="username_form">
					<div class="field has-addons has-addons-centered">
						<div class="control">
							<input name="username" class="input" type="text" placeholder="Type username" required />
						</div>
						<div class="control">
							<button class="button is-success" type="submit">Go</button>
						</div>
					</div>
				</form>
				<hr />
				<p>Search tag:</p>
				<form id="tag_form">
					<div class="field has-addons has-addons-centered">
						<div class="control">
							<input name="tag" class="input" type="text" placeholder="Type tag" required />
						</div>
						<div class="control">
							<button class="button is-success" type="submit">Go</button>
						</div>
					</div>
				</form>
				<hr />
				<p>Trending:</p>
				<a class="button is-success" href="./trending">Go</a>
			</div>
    </div>
    <div class="hero-foot">
			{include 'components/footer.latte'}
    </div>
	</section>
	<script src="{assets('home.js', 'scripts')}"></script>
</body>

</html>
