{layout '../layouts/default.latte'}

{block header}
	<p class="title">{$data->info->detail->title}</p>
	<p class="subtitle">{$data->info->detail->desc}</p>
	<p>Videos: {number($data->info->stats->videoCount)}</p>
{/block}

{block content}
	{include '../components/feed.latte'}
{/block}
