<!DOCTYPE html>
<html lang="en">

{include 'components/head.latte', title: 'Settings'}

<body>
  {include 'components/navbar.latte'}
  <section class="hero is-primary">
		<div class="hero-body">
			<div class="container">
				<p class="title">Settings</p>
			</div>
		</div>
  </section>
  <section class="section">
		<!-- Proxy settings -->
		<p class="title">Proxy</p>
		<form action="./settings" method="POST">
			{foreach $proxy_elements as $proxy_element}
			<div class="field">
				<label class="label">{$proxy_element}</label>
				<div class="control">
          <input name="{$proxy_element}" class="input" value="{isset($_COOKIE[$proxy_element]) ? $_COOKIE[$proxy_element] : ''}" required />
        </div>
      </div>
      {/foreach}
      <div class="field">
        <div class="control">
          <button class="button is-success" type="submit">Submit</button>
        </div>
      </div>
    </form>
  </section>
  {include 'components/footer.latte'}
</body>
</html>
