{layout '../layouts/default.latte'}

{block header}
	<p class="title">Settings</p>
{/block}

{block content}
	<!-- Proxy settings -->
	<p class="title">Proxy</p>
	{include '../components/settings/proxy.latte'}
	<hr />
	<p class="title">Api</p>
	{include '../components/settings/api.latte'}
{/block}
