<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Trending - TikTok</title>
  <link rel="stylesheet" href="https://unpkg.com/bulmaswatch/superhero/bulmaswatch.min.css">
  <link rel="stylesheet" href="{assets('feed.css', 'styles')}">
</head>
<body>
	{include 'navbar.latte'}
  <section class="hero is-primary">
		<div class="hero-body">
			<div class="container">
				<p class="title">Trending page</p>
			</div>
    </div>
  </section>
  {include 'feed.latte'}
  {include 'footer.latte'}
</body>
</html>
