<!DOCTYPE html>
<html lang="en">

{include 'components/head.latte', title: $item->info->detail->user->nickname}

<body>
  <section class="hero is-fullheight">
		<div class="hero-head">
			{include 'components/navbar.latte'}
		</div>
		<div class="hero-body">
			<div class="columns">
				<div class="column has-text-centered">
					<video autoplay controls src="{path('stream?url=' . urlencode($item->items[0]->video->playAddr))}"></video>
				</div>
				<div class="column is-one-quarter">
					<div class="box container">
						<p class="title">Video by <a href="{path('@'.$item->info->detail->user->uniqueId)}">{$item->info->detail->user->uniqueId}</a></p>
						<p class="subtitle">{$item->items[0]->desc}</p>
						<p>Played {number($item->info->detail->stats->playCount)} times</p>
						<p>Shared {number($item->info->detail->stats->shareCount)} times / {number($item->info->detail->stats->commentCount)} comments</p>
						<hr />
						<a href="{path('stream?url=' . urlencode($item->items[0]->video->playAddr) . '&download=1')}" class="button is-info">Download video</a>
        		<p>{$item->items[0]->music->title}</p>
        		<audio src="{path('stream?url=' . urlencode($item->items[0]->music->playUrl))}" controls preload="none"></audio>
					</div>
				</div>
			</div>
    </div>
		<div class="hero-foot">
			{include 'components/footer.latte'}
		</div>
  </section>
</body>
</html>
