{embed '../form.latte', path: '/settings/general', method: 'POST', submit: true}
{block fields}
	<div class="field">
		<label class="label">Theme</label>
		<div class="control">
			<div class="select">
				<select name="theme">
					{foreach $themes as $theme}
						<option value="{$theme}" n:attr="selected => $currentTheme === $theme">{$theme|firstUpper}</option>
					{/foreach}
				</select>
			</div>
		</div>
	</div>
{/block}
{/embed}
