<footer class="footer">
  <div class="content">
    <p class="has-text-centered">
      Made with <span style="color: #e25555;">&#9829;</span> in <a href="https://github.com/pablouser1/ProxiTok">Github</a>
    </p>
  </div>
</footer>
