<footer class="footer">
  <div class="content has-text-centered">
    <p>
      Made with <span style="color: #e25555;">&#9829;</span> in <a href="https://github.com/pablouser1/ProxiTok">Github</a>
    </p>
		<p>Version: {version()}</p>
  </div>
</footer>
