{do $endpoint = '/@' . $uniqueId . '/video/' . $id}
<div class="buttons is-centered">
	<a class="button is-success is-small" href="{path($endpoint)}">Instace Link</a>
	<a class="button is-danger is-small" href="https://www.tiktok.com{$endpoint}">Original Link</a>
</div>
