<p>
	{include '../../icon.latte', icon: 'eye', text: number($playCount)}
	{include '../../icon.latte', icon: 'heart', text: number($diggCount)}
	{include '../../icon.latte', icon: 'comment', text: number($commentCount)}
	{include '../../icon.latte', icon: 'share', text: number($shareCount)}
</p>
