<form action="{path('/settings/api')}" method="POST">
	<div class="field">
		<label class="checkbox">
			<input name="api-legacy" type="checkbox" checked="{isset($_COOKIE['api-legacy']) ? 'true' : 'false'}">Enable legacy mode
		</label>
  </div>
  <div class="field">
    <div class="control">
      <button class="button is-success" type="submit">Submit</button>
    </div>
  </div>
</form>
