{embed '../form.latte', path: '/settings/api'}
{block fields}
	<div class="field">
		<label class="label">Legacy mode</label>
		<div class="select">
			<select name="api-legacy">
				<option hidden disabled selected value> -- Select an option -- </option>
				<option value="on">On</option>
				<option value="off">Off</option>
			</select>
		</div>
  </div>
{/block}
{/embed}
