<div class="card">
	<header class="card-header" n:ifcontent>
		<p class="card-header-title" n:ifcontent>{block title}{/block}</p>
	</header>
	<div class="card-content">
		{block content}{/block}
	</div>
	<footer class="card-footer" n:ifcontent>
		{block footer}{/block}
	</footer>
</div>
