<form action="{path($path)}" method="{$method}">
	{block fields}{/block}
	{ifset $submit}
  	<div class="field">
    	<div class="control">
      	<button class="button is-success" type="submit">Submit</button>
    	</div>
  	</div>
	{/ifset}
</form>
