<div class="field is-grouped is-grouped-centered">
  <p class="control">
		<a target="_blank" href="{url_download($downloadAddr, $uniqueId, $id, true)}" class="button is-info">Watermark</a>
  </p>
  <p class="control">
		<a target="_blank" href="{url_download($playAddr, $uniqueId, $id, false)}" class="button is-success">No watermark</a>
  </p>
</div>
