<div class="field is-grouped is-grouped-centered">
  <p class="control">
		<a class="button is-success" href="{url_video_internal($uniqueId, $id)}">
			{include '../../icon.latte', icon: 'lock', text: 'Instance'}
		</a>
  </p>
  <p class="control">
		<a class="button is-warning" href="{url_video_external($uniqueId, $id)}">
			{include '../../icon.latte', icon: 'lock-unlock', text: 'Original'}
		</a>
  </p>
</div>
